/* In product-description.component.css, select the p tag and set the font-size to 16px, the
// font-family to Helvetica with a fallback of Arial and sans-serif, and a font-weight of normal.*/

p {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}

img {
    width: 100%;
}
